[Unit]
Description=Enclave Wizard
After=network-online.target

[Service]
Environment=HOME=/home/enclave
Environment=XDG_CACHE_HOME=/home/enclave/.cache
Environment=PATH=/home/enclave/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/local/bin/enclave-wizard --enclave-dir /opt/enclave --password-file /etc/enclave-wizard/password
Restart=on-failure
RestartSec=5
WorkingDirectory=/opt/enclave

[Install]
WantedBy=multi-user.target
