[Unit]
Description=Enclave Wizard UI
After=enclave-wizard-api.service

[Container]
Image=localhost/enclave-wizard-ui:dev
Network=host
Volume=/etc/enclave-wizard/nginx.conf:/etc/nginx/conf.d/default.conf:ro
Volume=/etc/enclave-wizard/tls:/etc/enclave-wizard/tls:ro

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target default.target
